@page "/"
@using Microsoft.Extensions.Options
@using OptionsPatternDemo.Options
@inject IOptionsMonitor<CloudInfoOptions> cloudInfoOptions;


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (cloudInfo is not null )
{
    <ul>
        <li>
            Storage: @cloudInfo.Storage
        </li>
        <li>
            Website: @cloudInfo.Website
        </li>
        <li>
            API: @cloudInfo.API
        </li>
    </ul>
}

@code
{
    private CloudInfoOptions? cloudInfo;

    protected override void OnInitialized()
    {
        cloudInfo = cloudInfoOptions.CurrentValue;
    }
}